#sb_instagram {
  .sbi_photo_wrap:hover .sbi_hover_caption_wrap span {
    color: var(--wp--preset--color--base) !important;
  }

  .sbi_meta {
    svg {
      color: #f1804c;
    }
  }

  .sbi_caption {
    font-size: 16px !important;
  }
}
