@use "../index" as *;

.media-text-localisation{
    --decalage-size:7.5rem;
    --decalage-carte : calc(-30% - var(--decalage-size));
    @include m(782){
     --decalage-size : 50vw;
    // --decalage-carte:-100%;
    }
    margin-top: var(--decalage-size) !important;
    .wp-block-column{
        &:first-of-type{
            height: 0;
        }
    }
    &__img{
       transform:translateY(var(--decalage-carte));
       
    }
}