@use "../index" as *;
body:not(.wp-admin){
    .media-text-6{
        .wp-block-heading{
            width: calc(100% + 7.5rem);

        }
        &__columns{
            --decalageY:267px;
            margin-bottom: var(--decalageY);
            background:red;
        display: grid !important;
            grid-template-columns: 2fr 1fr;

            .wp-block-image{
                width: calc(100% + var(--clamp-7-5-rem)* 2);
                float:right;
                transform: translateY(var(--decalageY));
            }
        }
    }
}