@use "../index" as *;

.media-text-localisation{
    --decalage-carte : 7.5rem;
    @include m(782){
     --decalage-carte : 17rem;
    }
    margin-top: var(--decalage-carte)!important;
    .wp-block-column{
        &:first-of-type{
            height: 0;
        }
    }
    &__img{
       transform:translateY(calc(-30% - var(--decalage-carte)));
       
    }
}