@use "../index" as *;
.section-media-text-etudes{
	gap:4.5rem;
	@include m(1800){
	 grid-template-columns: 50% auto !important; 
	}
	.wp-block-button.is-style-with-arrows-no-border .wp-block-button__link{
		padding:0;
	}
}