.double-marquee-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    
    .marquee-line {
        white-space: nowrap;
        overflow: hidden;
        padding:  0;
    }
    
    .marquee-content {
        display: inline-flex;
        gap: var(--marquee-gap, 0);
        will-change: transform;
    }
    
    .marquee-text {
        //64 puis 32 pxfont-size: clamp(2rem, 0.5rem + 4vw, 4rem);
        font-size: var(--marquee-font-size, clamp(2rem, 0.5rem + 4vw, 4rem));
        font-weight: var(--marquee-font-weight, 400);
        color: var(--marquee-color, currentColor);
        font-family: var(--marquee-font-family, var(--wp--preset--font-family--second));
        line-height: var(--marquee-line-height, 1.25);
        text-transform: uppercase;
        white-space: nowrap;
    }
}
