@use '../../index' as *;

.is-spacer{
  
    @include m(600){
          &-160{
            height: 3rem !important;
          }
           &-180{
            height: 3rem !important;
          }
              &-200{
            height: 3rem !important;
          }
                      &-240{
            height: 3rem !important;
          }
    }
}