:root{
    --clamp-7-5-rem: clamp(1.5rem, -1.8333rem + 10.6667vw, 7.5rem);
    --clamp-7-5-rem-half: clamp(1.5rem, -7.8659rem + 14.6341vw, 7.5rem);
    --clamp-mobitab-4-5-rem:  clamp(1.5rem, -0.8519rem + 8.3624vw, 4.5rem);
     --clamp-15-rem: clamp(1.5rem, -6rem + 20vw, 15rem);
}