/** changement du breakpoint du menu */
@media (max-width: 1280px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }
}
@media (max-width: 1280px) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
/* -------------------------------------------------
   Menu : logo toujours premier en mobile
   ------------------------------------------------- */
html:has(.has-modal-open) .wp-block-navigation-item:has(.wp-block-site-logo) {
  order: -1;
}
html:has(.has-modal-open) .wp-block-navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html:has(.has-modal-open) .wp-block-navigation-item {
  margin-left: auto !important;
  margin-right: auto !important;
}
html:has(.has-modal-open) .navigation-logo-centered .wp-block-navigation-item:has(.wp-block-site-logo) {
  position: static !important;
  transform: none;
}

header.wp-block-template-part.fixed {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

html:not(.has-modal-open) button.wp-block-navigation__submenu-icon {
  display: none !important;
}
html:not(.has-modal-open) .navigation-logo-centered {
  position: relative;
  min-height: 150px;
}
@media (max-width: 1600px) {
  html:not(.has-modal-open) .navigation-logo-centered {
    gap: clamp(1.5rem, 4.5rem - 1.5vw, 4.5rem);
  }
}
html:not(.has-modal-open) .navigation-logo-centered .wp-block-navigation__responsive-container-open {
  z-index: 10;
}
html:not(.has-modal-open) header.with-bg .navigation-logo-centered:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  right: 0;
  background: var(--wp--preset--color--base);
  z-index: 1;
  height: calc(100% - 26px);
}
html:not(.has-modal-open) header.with-bg .wp-block-navigation-item:hover .wp-block-navigation-submenu .wp-block-navigation-item {
  color: var(--wp--preset--color--base-4) !important;
}
html:not(.has-modal-open) header.with-bg .wp-block-navigation-item:hover .wp-block-navigation-submenu .wp-block-navigation-item:hover {
  color: var(--wp--preset--color--base-2) !important;
}
html:not(.has-modal-open) header.light-colors .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container:before, html:not(.has-modal-open) header.light-colors .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container:after {
  background: white !important;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive)::not(.has-background) .wp-block-navigation__submenu-container {
  background-color: var(--wp--preset--color--base) !important;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive):not(.wp-block-navigation__submenu-container) > .wp-block-navigation-item:not(.has-child):not(:has(.custom-logo)) {
  position: relative;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive):not(.wp-block-navigation__submenu-container) > .wp-block-navigation-item:not(.has-child):not(:has(.custom-logo)):before, html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive):not(.wp-block-navigation__submenu-container) > .wp-block-navigation-item:not(.has-child):not(:has(.custom-logo)):after {
  z-index: 1;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--wp--preset--color--base-4);
  transition: all 0.6s ease, transform 0.5s ease;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive):not(.wp-block-navigation__submenu-container) > .wp-block-navigation-item:not(.has-child):not(:has(.custom-logo)):before {
  position: absolute;
  top: 0;
  left: 0;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive):not(.wp-block-navigation__submenu-container) > .wp-block-navigation-item:not(.has-child):not(:has(.custom-logo)):after {
  position: absolute;
  bottom: 0;
  left: 0;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive):not(.wp-block-navigation__submenu-container) > .wp-block-navigation-item:not(.has-child):not(:has(.custom-logo)):hover:before, html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive):not(.wp-block-navigation__submenu-container) > .wp-block-navigation-item:not(.has-child):not(:has(.custom-logo)):hover:after {
  width: 100%;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive) .wp-block-navigation-item {
  transition: all 0.5s ease !important;
  font-weight: 700;
  color: inherit !important;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive) .wp-block-navigation-item:hover {
  color: var(--wp--preset--color--base-2);
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive) .wp-block-navigation-item:hover .wp-block-navigation-submenu .wp-block-navigation-item {
  color: inherit !important;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive) .wp-block-navigation-item .wp-block-navigation-submenu .wp-block-navigation-item:hover {
  color: var(--wp--preset--color--base-2) !important;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main:not(.is-responsive) .wp-block-navigation-submenu {
  color: inherit !important;
}

/* Menu desktop (non burger) */
.wp-block-navigation:not(.is-responsive) .wp-block-navigation__responsive-container {
  /* styles desktop */
}

header.light-colors:not(.is-on-top) .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content {
  color: var(--wp--preset--color--base-4);
}

header.is-on-top:not(.light-colors) .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content {
  color: var(--wp--preset--color--base-4);
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation__submenu-container {
  color: inherit;
}

.wp-block-navigation-item.has-child:hover {
  color: var(--wp--preset--color--base-2);
}
.light-colors header .wp-block-navigation-item.has-child:hover {
  color: var(--wp--preset--color--base-2);
}
.wp-block-navigation-item.has-child .wp-block-navigation-submenu {
  color: var(--wp--preset--color--base) !important;
}
.light-colors header .wp-block-navigation-item.has-child .wp-block-navigation-submenu {
  color: var(--wp--preset--color--base-2);
}
.wp-block-navigation-item.has-child .wp-block-navigation-submenu .wp-block-navigation-item:hover {
  color: var(--wp--preset--color--base-2) !important;
}

.has-modal-open header .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
  color: var(--wp--preset--color--base-4) !important;
}

html:not(.has-modal-open) header {
  color: var(--wp--preset--color--base-4);
}
html:not(.has-modal-open) header.light-colors {
  color: var(--wp--preset--color--base);
}
html:not(.has-modal-open) header.light-colors img {
  filter: brightness(0) saturate(100%) invert(100%);
}
html:not(.has-modal-open) header.light-colors .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
  background-color: transparent !important;
  box-shadow: none !important;
}
html:not(.has-modal-open) header.with-bg {
  color: var(--wp--preset--color--base-4);
}

html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child {
  position: relative;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container:before {
  position: absolute;
  top: -3rem;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container:after {
  position: absolute;
  bottom: 0;
  transform: translateY(-250px);
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container:before, html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container:after {
  z-index: 1;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--wp--preset--color--base-4);
  transition: all 0.6s ease, transform 0.5s ease;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child:hover .wp-block-navigation__submenu-container:before, html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child:hover .wp-block-navigation__submenu-container:after {
  width: 100%;
}
html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child:hover .wp-block-navigation__submenu-container:after {
  transform: translateY(0);
}
@media (min-width: 1280px) {
  html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child > .wp-block-navigation-item__content {
    padding: 0.5em 0.5rem 0.5em 0 !important;
  }
  html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item.has-child .wp-block-navigation-submenu .wp-block-navigation-item__content {
    padding: 5px 1rem !important;
    font-size: var(--wp--preset--font-size--s) !important;
    line-height: 1.4;
    font-weight: 700;
  }
  html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation-item__content {
    line-height: 1.25;
    font-size: var(--wp--preset--font-size--m);
    font-weight: 700;
    padding: 0.5em 0.5rem;
  }
  html:not(.has-modal-open) .wp-block-navigation__container.is-style-main .wp-block-navigation__submenu-container {
    border: none !important;
    left: -1rem !important;
  }
}

/* Menu mobile (burger actif) */
.wp-block-navigation.is-responsive .wp-block-navigation__responsive-container-open {
  /* styles mobile */
}

.wp-block-navigation__responsive-container-close {
  top: 2rem;
  right: 2rem;
}

html.has-modal-open .wp-block-navigation__submenu-container .wp-block-navigation-item__label {
  font-size: 1.2rem;
}
html.has-modal-open .wp-block-navigation-item__label {
  font-size: 1.3rem;
  display: block;
  margin-bottom: var(--decalage-y) !important;
  padding: 0.5rem;
}
html.has-modal-open .wp-block-navigation-item__content {
  text-align: center;
}
html.has-modal-open .wp-block-navigation__container {
  gap: 1.5rem !important;
}
html.has-modal-open .wp-block-site-logo {
  margin-bottom: 2.5rem;
}
html.has-modal-open .wp-block-navigation__container.is-responsive.is-style-main {
  gap: 0 !important;
}
html.has-modal-open .wp-block-navigation__container.is-responsive.is-style-main .wp-block-navigation-submenu {
  padding-top: 0 !important;
}
html.has-modal-open .wp-block-navigation.is-responsive.is-style-main .has-child .wp-block-navigation__submenu-container > .wp-block-navigation-item > .wp-block-navigation-item__content {
  padding: 0 !important;
}