@use "../index" as *;

/** changement du breakpoint du menu */
@media (max-width: $menu-mobile-breakpoint) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }
}

@media (max-width: $menu-mobile-breakpoint) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}