// La class fixed doit être ajouter directement dans  parts / header.html
header.wp-block-template-part{
    &.fixed{
        z-index: 100;
        position:fixed;
        top:0;
        left:0;
        right:0;
    }

}

header.wp-block-template-part{

    &.nav-scroll-down{
        transition: .5s transform;
     transform:translateY(-100%) !important;
    }
}
