$menu-bg: var(--wp--preset--color--base);
$menu-sub-bg: var(--wp--preset--color--base);
$menu-text: inherit;
$menu-text-hover: var(--wp--preset--color--base-2);
$menu-lines: var(--wp--preset--color--base-4);

header{
    color: var(--wp--preset--color--base-4);
}

header.light-colors{
    color: var(--wp--preset--color--base);
    
    img{
        filter: brightness(0) saturate(100%) invert(100%);
    }
      .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container{
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
header.with-bg{
    color: var(--wp--preset--color--base-4);
}