/* Menu mobile (burger actif) */
.wp-block-navigation.is-responsive .wp-block-navigation__responsive-container-open {
  /* styles mobile */
  
}
.wp-block-navigation__responsive-container-close {
    top:2rem;
    right: 2rem;
}
html.has-modal-open{
  .wp-block-navigation__submenu-container .wp-block-navigation-item__label{
     //  border:1px solid pink;
       font-size:1.2rem;
  }
    .wp-block-navigation-item__label{
            font-size: 1.3rem;
            display:block;
          //  border:1px solid red;
        margin-bottom: var(--decalage-y) !important;
        padding: .5rem;
        
    
    }
    .wp-block-navigation-item__content{
        text-align: center;
    }
        .wp-block-navigation__container{
        gap:1.5rem !important;
    }
    .wp-block-site-logo{
        margin-bottom: 2.5rem;
    }
    


    .wp-block-navigation__container.is-responsive.is-style-main{
        gap:0 !important;
        .wp-block-navigation-submenu{
            padding-top: 0 !important;
        }
    }
    .wp-block-navigation.is-responsive.is-style-main .has-child .wp-block-navigation__submenu-container>.wp-block-navigation-item>.wp-block-navigation-item__content{
        padding: 0 !important;
    }
}