// COLOR
$menu-bg: var(--wp--preset--color--base);
$menu-sub-bg: var(--wp--preset--color--base);
$menu-text: inherit;
$menu-text-hover: var(--wp--preset--color--base-2);
$menu-text-current: var(--wp--preset--color--base-2);
$menu-lines: var(--wp--preset--color--base-4);

//typography
$menu-font-size: var(--wp--preset--font-size--m);
$menu-line-height: 1.25;
$menu-font-weight: 700;

$sub-menu-font-size: var(--wp--preset--font-size--s);
$sub-menu-line-height: 1.4;
$sub-menu-font-weight: 700;