@use "../index" as *;

@include m(600){
 .is-hidden-mobile{
  display: none !important;
 }
 .media-is-hidden-mobile .wp-block-media-text__media{
    display: none !important;
 }
}
@include m(1024){
 .is-hidden-mobitab {
  display: none !important;
 }
  .media-is-hidden-mobitab .wp-block-media-text__media{
    display: none !important;
 }
}
@include p(1024){
  .is-hidden-desktop{
  display: none !important;
 }
 .media-is-hidden-desktop .wp-block-media-text__media{
    display: none !important;
 }
}
@include b(600, 1024){
  .is-hidden-tablet{
  display: none !important;
 }
 .media-is-hidden-tablet .wp-block-media-text__media{
    display: none !important;
 }
}