<!-- wp:template-part {"slug":"header","tagName":"header","className":"fixed is-on-top"} /-->
<!-- wp:group {"tagName":"main","metadata":{"name":"Main | site-main"},"className":"site-main template-single-noty-annonce","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main template-single-noty-annonce" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:group {"metadata":{"name":"Wrapper | entry-content"},"align":"full","className":"entry-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull entry-content">
    <!-- wp:pattern {"slug":"ng1-base/template-single-bien"} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->

