<!-- wp:template-part {"slug":"header","tagName":"header","className":"fixed is-on-top"} /-->
<!-- wp:pattern {"slug":"ng1-base/spacer-header-height"} /-->
<!-- wp:pattern {"slug":"ng1-base/cover-type-1-taxonomy"} /-->
 <!-- wp:spacer {"height":"60px","metadata":{"name":"Espacement | Taille"},"className":"spacer-60"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer spacer-60"></div>
<!-- /wp:spacer -->
<!-- wp:group {"tagName":"main","metadata":{"name":"Query Container"},"className":"is-query-container has-padding-l-120 has-padding-r-120","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group is-query-container has-padding-l-120 has-padding-r-120" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:pattern {"slug":"ng1-base/query-loop-bien"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->