.wp-block-button.is-style-with-arrows-no-border{
    & .wp-block-button__link {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;
&:hover{
    color: var(--wp--preset--color--base-2) !important;
    gap:.6rem;
}
        
    }
    & .wp-block-button__link::after {
        content: '';
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 23px;
            height: 11px;
            background-color: currentColor;
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11' viewBox='0 0 13 11' fill='none'%3E%3Cpath d='M0.5 5.29167H12M12 5.29167L7.20833 0.5M12 5.29167L7.20833 10.0833' stroke='black' stroke-linecap='round' stroke-linejoin='round' fill='none'/%3E%3C/svg%3E");
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
    }
}