.variation-core-button-arrows>.wp-block-button__link:after{
 content: "";
 background: currentColor;

 display: inline-block;
 width: 1.5em;
 height: 1.5em;
}
.variation-core-button-arrows .wp-block-button__link{
    display: inline-flex;
    gap: 0.25em;
    align-items: center;
}